<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <h1>About Zico</h1>
    <div id="list">
      <h3>Interesting facts about Zico, the Dog</h3>
      <ol>
        <li>
          <a href="fact1">Zico, the Dog, was born on February 3rd, 2020.</a>
          <p>
            He was named after the famous Brazilian football coach and former
            player who played as an attacking midfielder, Arthur Antunes
            Coimbra, a.k.a Zico, born in March 3rd, 1973.
          </p>
        </li>
        <li>
          <a href="fact2">He is a maltese dog</a>
          <p>
            The Maltese is gentle, affectionate, intelligent, responsive and
            trusting. A good family dog, Maltese are lively, playful, vigorous,
            and they generally enjoys learning tricks. They can be snappy with
            raucous children. The petite build of the Maltese belies its
            fearless presence. Highly alert, the Maltese elicits a flurry of
            barking in response to unfamiliar noises.
          </p>
        </li>
        <li>
          <a href="fact3">Dogs may be able to fall in love with you.</a>
          <p>
            Thanks to science, you can know, for a fact, that your dog loves you
            back. A 2015 study at Azabu University in Japan found an uptick in
            the level of oxytocin in both dogs and their owners when they stare
            at each other.
          </p>
        </li>
      </ol>
    </div>
  </body>
</html>
