<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Work</title>
    <link 
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="work.css" />
  </head>
  <body>
    <h1>Sometimes Zico works as the cuttest ps4 acessory ever! (Part-time, only)</h1>
    <div>
        <img src="zicogamer.png" alt="Dog with serving as an alternative ps4 controller."/>
    </div>
</div>
</body>
</html>